<<<<<<< HEAD
<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<form method="POST" action="/articles/<%= @article.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
=======
<h1><%= @article.name %></h1>
<p><%= @article.content %></p>
>>>>>>> d55c1bdbc78a57132baf6ddbf9e2c63520b48d9a
